@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;700&family=Orienta&display=swap');
@import url(reset.css);

html,
body {
  height: 100%;
  background-color: #0F0E17;
}

body::-webkit-scrollbar {
    width: 8px; /* ширина полосы прокрутки */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #6c757d; /* цвет полосы прокрутки */
    border-radius: 10px; /* скругление углов полосы прокрутки */
}

body::-webkit-scrollbar-track {
    background-color: #2D2C31; /* цвет фона трека прокрутки */
    border-radius: 5px;
}

:root {
    --square_box-vhpx: 200px;
    --container-width: 1270px;
    --container-padding: 30px;
    --open-bold: 700;
    --open-regular: 400;
    --mon-bold: 700;
    --orienta-regular: 400;
    --promt-regular: 400;
}

.title-creacted-by {
    color: rgba(255, 255, 255, 0.50);
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--open-bold);
    font-size: 20px;
}

section {
    background-color: #0F0E17;
}

.container {
    max-width: var(--container-width);
    padding: var(--container-padding);
    margin: 0 auto;
}
.wrap_reg {
    position: relative;
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg {
    max-width: 400px;
    background-color: #2D2C31;
    display: flex;
    border-radius: 15px;
    padding: 15px;
    column-gap: 50px;
    align-items: center;
    cursor: pointer;
}


.img__logo-reg__github {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.title-reg__github {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--open-bold);
    font-size: 24px;
}

.container__inpt-reg__inf {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 500px;
}

.inpt__reg-inf {
    background-color: #545456;
    height: 50px;
    padding: 10px;
    border-radius: 10px;

    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--open-bold);
    font-size: 18px;
}

.button__inpt-reg__create {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.70);
    height: 50px;
    border-radius: 10px;
    
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--open-bold);
    font-size: 18px;
}

.button__inpt-reg__create:hover {
    transition: 0.4s ease;
    background-color: rgba(255, 255, 255);
}

.square-box__reg {
    background-color: #2D2C31;
    border-radius: 5px;
    padding: 20px;
    height: 100%;
}